# Build results
[Bb]in/
[Oo]bj/
publish/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Local app data & history
results/
settings.json

# Credentials & text data files
*.txt
